<h2>Course List</h2>

<table class="table striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Imagem</th>
      <th>Preço</th>
      <th>Código</th>
      <th>Duração</th>
      <th>Data de Lançamento</th>
      <th>Rating</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{course.id}}</td>
      <td>{{course.name}}</td>
      <td>{{course.imageUrl}}</td>
      <td>{{course.price}}</td>
      <td>{{course.code}}</td>
      <td>{{course.duration}}</td>
      <td>{{course.releaseDate}}</td>
      <td>{{course.rating}}</td>
      <td>
        <button class="btn btn-success mr-2">Editar</button>
        <button class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
